openapi: 3.1.0
info:
  title: Parasail Batch Files API
  description: 'OpenAI-compatible Batch API for offline, asynchronous inference workloads at 50% off

    serverless pricing (with cached tokens at an additional 30% off). Supports

    /v1/chat/completions and /v1/embeddings in the OpenAI Batch file format (JSONL).

    '
  version: '1.0'
  contact:
    name: Parasail
    url: https://docs.parasail.io/parasail-docs/
servers:
- url: https://api.parasail.io/v1
  description: Parasail Batch endpoint
security:
- bearerAuth: []
tags:
- name: Files
  description: Upload and manage input/output JSONL files used by Batch jobs.
paths:
  /files:
    post:
      tags:
      - Files
      operationId: uploadFile
      summary: Upload File
      description: Upload a JSONL file to use as input or to download as output from a batch job.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - purpose
              properties:
                file:
                  type: string
                  format: binary
                purpose:
                  type: string
                  enum:
                  - batch
      responses:
        '200':
          description: The uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
    get:
      tags:
      - Files
      operationId: listFiles
      summary: List Files
      description: List files uploaded to the Batch API.
      responses:
        '200':
          description: A list of files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
  /files/{file_id}:
    get:
      tags:
      - Files
      operationId: getFile
      summary: Retrieve File
      description: Retrieve metadata for an uploaded file.
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
    delete:
      tags:
      - Files
      operationId: deleteFile
      summary: Delete File
      description: Delete an uploaded file.
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The deletion result.
  /files/{file_id}/content:
    get:
      tags:
      - Files
      operationId: getFileContent
      summary: Download File Content
      description: Download the raw bytes for a previously-uploaded file (including batch output files).
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The file contents.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    File:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: file
        bytes:
          type: integer
        created_at:
          type: integer
        filename:
          type: string
        purpose:
          type: string
    FileList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/File'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Send your Parasail API key as a Bearer token.
