openapi: 3.2.0
info:
  title: Parasail Inference Models API
  description: 'OpenAI-compatible inference API for Parasail''s AI Supercloud. Provides serverless

    pay-per-token access to popular open-weight LLMs, embedding models, image generation

    models, and text-to-speech models running on Parasail''s global GPU network.'
  version: '1.0'
  contact:
    name: Parasail
    url: https://docs.parasail.io/parasail-docs/
servers:
- url: https://api.parasail.io/v1
  description: Parasail OpenAI-compatible inference endpoint
security:
- bearerAuth: []
tags:
- name: Models
  description: Discover the models currently exposed on the serverless tier.
paths:
  /models:
    get:
      tags:
      - Models
      operationId: listModels
      summary: List Models
      description: List the serverless models currently available on Parasail.
      responses:
        '200':
          description: A list of available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
components:
  schemas:
    Model:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: model
        created:
          type: integer
        owned_by:
          type: string
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Send your Parasail API key as a Bearer token.
